In [3]:
import pandas as pd
import psycopg2 as pg

In [5]:
with pg.connect(host='localhost', port=5432, dbname='postgres', user='postgres', password='postgres') as connection:
    df = pd.read_sql_query('''
    SELECT time_bucket('5 minutes', opentime) open_time,
    first(openprice, opentime) opentime,
    max(highprice) highprice,
    min(lowprice) low_price,
    last(closeprice, closetime) close_price,
    sum(basevolume) base_volume,
    max(closetime) close_time,
    sum(quotevolume) quote_volume,
    sum(numbertrades) number_trades,
    sum(takerbuybase) taker_buybase,
    sum(takerbuyquote) taker_quote
    FROM candlestickhistorical
    GROUP BY open_time ORDER BY open_time;
    ''', connection)

/var/folders/ft/cwqv3r3573s0k_nw65ltwg5w0000gn/T/ipykernel_97870/2190462861.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('''

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598153 entries, 0 to 598152
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   open_time      598153 non-null  datetime64[ns]
 1   opentime       598153 non-null  float64
 2   highprice      598153 non-null  float64
 3   low_price      598153 non-null  float64
 4   close_price    598153 non-null  float64
 5   base_volume    598153 non-null  float64
 6   close_time     598153 non-null  datetime64[ns]
 7   quote_volume   598153 non-null  float64
 8   number_trades  598153 non-null  float64
 9   taker_buybase  598153 non-null  float64
 10  taker_quote    598153 non-null  float64
dtypes: datetime64[ns](2), float64(9)
memory usage: 50.2 MB
None

In [8]:
df.head()

,open_time,opentime,highprice,low_price,close_price,base_volume,close_time,quote_volume,number_trades,taker_buybase,taker_quote
0,2017-08-17 04:00:00,4261.48,4280.56,4261.48,4261.48,2.189061,2017-08-17 04:04:59,9333.620962,9.0,0.489061,2089.104962
1,2017-08-17 04:05:00,4261.48,4261.48,4261.48,4261.48,0.000000,2017-08-17 04:09:59,0.000000,0.0,0.000000,0.000000
2,2017-08-17 04:10:00,4261.48,4261.48,4261.48,4261.48,0.000000,2017-08-17 04:14:59,0.000000,0.0,0.000000,0.000000
3,2017-08-17 04:15:00,4261.48,4264.88,4261.48,4261.48,0.484666,2017-08-17 04:19:59,2065.447829,9.0,0.085455,364.218136
4,2017-08-17 04:20:00,4264.88,4266.29,4264.88,4266.29,2.328570,2017-08-17 04:24:59,9931.161124,11.0,1.546491,6595.688039

In [9]:
df.isnull().sum()

open_time        0
opentime         0
highprice        0
low_price        0
close_price      0
base_volume      0
close_time       0
quote_volume     0
number_trades    0
taker_buybase    0
taker_quote      0
dtype: int64